*.class
# Package Files #
*.jar
*.war
*.ear

PipesAndFilters/nbproject/private/
PipesAndFilters/build.xml
PipesAndFilters/dist/
PipesAndFilters/build/
PipesAndFilters/nbproject/build-impl.xml

Presentation/nbproject/private/
Presentation/dist/
Presentation/build/
Presentation/nbproject/build-impl.xml

RmiClient/nbproject/private/
RmiClient/dist/
RmiClient/build/
RmiClient/nbproject/build-impl.xml

Security/nbproject/private/
Security/nbproject/private/private.properties/
Security/dist/
Security/build/
Security/nbproject/build-impl.xml

Security/nbproject/private/private.properties

CorbaServer/nbproject/private/
CorbaServer/build/
CorbaServer/dist/

CorbaClient/nbproject/private/

Server/nbproject/private/
Server/dist/
Server/build/

CorbaClient/dist/
CorbaClient/build/

Contract/build/
Contract/dist/

Client/nbproject/private/
Contract/nbproject/private/

RMITest/nbproject/private/

JavaMessagingClient/nbproject/private/
JavaMessagingClient/build/
JavaMessagingClient/dist/
JavaMessagingSender/nbproject/private/
JavaMessagingSender/build
JavaMessagingSender/dist
JavaMessagingContract/nbproject/private/
JavaMessagingContract/dist/
JavaMessagingContract/build


JavaMessagingClient/nbproject/build-impl.xml

JavaMessagingClient/nbproject/genfiles.properties

JavaMessagingClient/nbproject/private/private.properties

JavaMessagingClient/build.xml

JavaMessagingClient/build/jar/META-INF/MANIFEST.MF

JavaMessagingSender/build/jar/META-INF/MANIFEST.MF

JavaMessagingSender/build.xml

Server/orb.db/NC0
